@import  "../../../App.scss";

.order-keys{
    font-weight: bold;
    p{
        font-size: 1.2em;
        color: #a1a1a1;
    }
}

.order-values{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3%;
    .order{
        font-weight: bold;
    }
}
.order-values{
    cursor: pointer;
}

.orderitems{
    background-color: white;
    padding:3%;
    border-radius: 5px;
    margin-bottom: 3%;
}

.orderaddress{
    background-color: white;
    padding:3%;
    border-radius: 5px;
    height: 100%;
}
.ordersummary{
    background-color: white;
    padding:3%;
    border-radius: 5px;
}