@import  "../../App.scss";

.itemdetail-container{
    background-color: white;
}
.itemdetail{
    background-color: white;
    padding:2% 0;
    .imagediv{
        text-align: center;
        .mainimg{
            width: 30vw;
        }
        .imagerow{
            .subimg{
                border:1px solid #cccf;
                border-radius: 5px;
                padding:2%;
                width: 5vw;
                margin: 1%;
            }
            .subimg:hover{
                cursor: pointer;
            }

        }
    }

}
.productdetail{
    h1{
        font-family: $secondary-font;
        font-weight: 400;
    }
    .ratingdiv{
        font-size: 1.1em;
        background-color: green;
        border-radius: 2px;
        color: white;
        padding:.5% 1%;
    }
    .ratingreview{
        margin-left: 2%;
        font-size: 1.1em;
    }
    .availableoffers{
        margin-top: 5%;
        margin-bottom: 1%;
        p{
            margin: 0 !important;
        }
    }
    .pricerow{
        padding-top: 2%;
        .price{
            font-size: 2em;
            font-weight: bold;
            color: $primary;
        }
        .mrp{
            text-decoration: line-through;
            margin: 0 1%;
        }
        .poff{
            background-color: black;
            color: white;
            padding:1%;
            border-radius: 5px;
        }
    }
    
    .count{
        margin: 0 2%;
        h2{
            font-size: 1.5em;
        }
    }
}


.buynowpaylater{
    margin-left: 5%;
    height: 100%;
    padding: 1%;
    background-color: $secondary;
    img{
        width: 1.2vw;
    }
    .heading{
        text-align: center;
        font-weight: bold;
    }
}






.descriptionreviewtab{
    margin: 1% 5%;
    .specificationdiv{
        margin-right: 10%;
    }
    .attributes{
        margin-right: 10%;
        .row{
            .key{
                padding: 1%;
                font-weight: bold;
                background-color: #a1a1a11c;
            }
            .value{
            }
        }
    }
}

.review-container{
    .row{
        .avatar{
        }
        .detailcontainer{
            margin-left: 1%;
            .name{
                font-size: 1.2em;
                font-weight: bold;
            }   
            .rating{
                font-weight: bold;
                margin: 0 10px;
            }
            .timeline{
                color: #a1a1a1;
            }
        }
    }
    .review{
        width: 30%;
        margin: 1% 0;
    }
}