$primary:#FE6003;
$secondary:#F5F9FC;
.greyspan{
  color: #a1a1a1;
}
//₹
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Roboto', sans-serif;

h1,h2,h3,h5{
  font-family: $secondary-font;
}
p,span,blockquote,input{
  font-family: $secondary-font;
}

body{
  background-color: #F5F9FC;
}



::-webkit-scrollbar{
  width:5px !important;
}

::-webkit-scrollbar-track{
  background:transparent !important;
}


::-webkit-scrollbar-thumb{
  background:rgb(235, 235, 235) !important;
  opacity:0.2;
  border-radius:25px
}

::-webkit-scrollbar-thumb:hover{
  background:#5a1e96 !important;
}
.cursor-pointer:hover{
  cursor: pointer;
}
.iconbutton{
  background-color: #d868000c;
}
.iconbutton:hover{
  background-color: #d8680034;
}
.center-img{
  display: block;
  margin: auto;
}
.center{
  text-align: center;
}
.l2{
  line-height: 1.8;
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 576px) {
  .alert{
    position: absolute;
    bottom: 0;
    z-index: 5;
    left: 0%;
  }
  
}